{{ $description := partialCached "data/description" . .RelPermalink }}
{{ $iso8601 := "2006-01-02T15:04:05-07:00" }}
{{ $pubDate := "" }}
{{ $modDate := "" }}
{{ if .IsPage }}
  {{ if not .Date.IsZero }}{{ $pubDate = .Date.Format $iso8601 }}{{ end }}
  {{ if not .Lastmod.IsZero }}{{ $modDate = .Lastmod.Format $iso8601 }}{{ end }}
{{ end }}

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "{{ if .IsPage }}Article{{ else }}WebSite{{ end }}",
  "headline": "{{ if .Params.title }}{{ .Params.title }}{{ else }}{{ .Title }}{{ end }}",
  "description": "{{ if .Params.summary }}{{ .Params.summary | plainify }}{{ else }}{{ $description | plainify }}{{ end }}",
  "url": "{{ .Permalink }}",
  {{- if .IsPage }}
  "author": {
    "@type": "Person",
    "name": "{{ with .Params.author }}{{ . }}{{ else }}Wayne{{ end }}",
    "url": "https://ckw19810413.github.io/about/"
  },
  "publisher": {
    "@type": "Organization",
    "name": "Intellectual Guides",
    "url": "https://ckw19810413.github.io/",
    "logo": {
      "@type": "ImageObject",
      "url": "https://ckw19810413.github.io/icon-192.png"
    }
  },
  {{- if $pubDate }}"datePublished": "{{ $pubDate }}",{{- end }}
  {{- if $modDate }}"dateModified": "{{ $modDate }}",{{- end }}
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ .Permalink }}"
  }
  {{- else }}
  "name": "{{ .Site.Title }}",
  "description": "{{ $description | plainify }}"
  {{- end }}
}
</script>

{{ if and .IsPage .Params.cover }}
<meta property="og:image" content="{{ .Params.cover | absURL }}" />
{{ else if .IsPage }}
<meta property="og:image" content="https://ckw19810413.github.io/og.png" />
{{ end }}

<!-- Google AdSense -->
{{ with .Site.Params.adsense.publisher }}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client={{ . }}" crossorigin="anonymous"></script>
{{ end }}
